---
import FeatureArticle from "./FeatureArticle.astro";
import features from "../data/features.ts";
---

<section class="mt-20 py-20 lg:mt-20">
  <div class="mx-auto mb-10 px-2 sm:w-3/4 lg:w-1/3">
    <h1 class="text-center text-3xl font-medium text-theme-blue">Features</h1>
    <p class="mt-4 text-center text-theme-gray">
      Our aim is to make it quick and easy for you to access your favorite websites. Your bookmarks
      sync between your devices so you can access them on the go.
    </p>
  </div>
  <div
    role="tablist"
    class="mx-auto flex max-w-3xl justify-around border-b border-theme-gray/50 py-6 text-theme-blue"
  >
    {
      features.map((feature, index) => (
        <button role="tab" class="cursor-pointer" data-index={index}>
          {feature.title}
        </button>
      ))
    }
  </div>
  <div class="mt-20 space-y-20 lg:mt-22 lg:space-y-52" id="tab-content">
    <FeatureArticle imagePath={features[0].image} orientation="imageFirst">
      <Fragment slot="header">{features[0].title}</Fragment>
      <Fragment slot="content">
        {features[0].description}
      </Fragment>
    </FeatureArticle>
  </div>
</section>

<script>
  const tabs = document.querySelectorAll('[role="tab"]');
  const tabContent = document.getElementById("tab-content");

  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      tabs.forEach((t) => t.setAttribute("aria-selected", "false"));
      tab.setAttribute("aria-selected", "true");
      const index = tab.getAttribute("data-index");
      // TODO: Show corresponding content
    });
  });
</script>
