---
import FeatureArticle from "./FeatureArticle.astro";
import features from "../data/features.ts";
---

<section class="my-25">
  <div class="mx-auto mb-10 px-2 sm:w-3/4 lg:w-137.5">
    <h1 class="text-center text-[2rem] font-medium text-theme-blue">Features</h1>
    <p class="mt-7 text-center text-lg text-theme-grayish-blue">
      Our aim is to make it quick and easy for you to access your favorite websites. Your bookmarks
      sync between your devices so you can access them on the go.
    </p>
  </div>
  <div
    role="tablist"
    class="relative mx-auto flex max-w-183 border-b-2 border-theme-blue/10 py-6 text-[1.075rem] font-medium text-theme-grayish-blue"
  >
    {
      features.map((feature, index) => (
        <button
          role="tab"
          class="flex-1 cursor-pointer text-center hover:text-theme-red"
          data-index={index}
        >
          {feature.title}
        </button>
      ))
    }
    <div
      class="absolute bottom-0 left-0 z-10 w-1/3 translate-x-0 border-b-4 border-b-theme-red"
      id="active-feature"
    >
    </div>
  </div>
  <div class="mt-21 space-y-20 lg:space-y-52" id="tab-content">
    <FeatureArticle imagePath={features[0].image}>
      <Fragment slot="header">{features[0].title}</Fragment>
      <Fragment slot="content">
        {features[0].description}
      </Fragment>
    </FeatureArticle>
  </div>
</section>

<script>
  import features from "../data/features.ts";
  const tabs = document.querySelectorAll('[role="tab"]');
  const tabContent = document.getElementById("tab-content");
  const activeFeature = document.getElementById("active-feature");

  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      tabs.forEach((t) => t.setAttribute("aria-selected", "false"));
      tab.setAttribute("aria-selected", "true");
      const indexAttr = tab.getAttribute("data-index");
      if (!indexAttr || !tabContent) return;

      const index = parseInt(indexAttr);
      const feature = features[index];
      const article = tabContent.querySelector("article");
      if (!article) return;

      const headerSlot = article.querySelector("h1");
      const contentSlot = article.querySelector("p");
      const img = article.querySelector("img");

      if (headerSlot) headerSlot.textContent = feature.title;
      if (contentSlot) contentSlot.textContent = feature.description;
      if (img) img.src = feature.image;

      if (activeFeature) {
        activeFeature.style.transform = `translateX(${index * 100}%)`;
      }
    });
  });
</script>
